<header class='header'>
  <nav class='navbar'>
    <div class='navbar__top'>
      <a href=''>
        <img src='./public/img/McBooks_Header_V1_1263x60.jpg' alt='' />
      </a>
    </div>

    <div class='container'>
      <a href='/' class='navbar__logo'>
        <img
          src='https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo/fahasa_logo.png'
          alt=''
        />
      </a>
      <div class='navbar__menu'>
        <div class='navbar__menu-logo-wrap'>
          <div class='navbar__menu-logo'></div>
          <div class='navbar__menu-down'></div>
        </div>
        <div class='navbar__menu-list'>
          <div class='navbar__menu-list-left'>
            <h2 class='title-left'>Danh mục sản phẩm</h2>
            <ul class='list-left'>
              <li class='item-left active-item-left item-left-1'>Sách trong nước</li>
              <li class='item-left item-left-2'>FOREIGN BOOKS</li>
              <li class='item-left item-left-3'>VPP - Dụng cụ học sinh</li>
              <li class='item-left item-left-4'>Đồ Chơi</li>
              <li class='item-left item-left-5'>Làm Đẹp - Sức Khỏe</li>
              <li class='item-left item-left-6'>Hành Trang Đến Trường</li>
              <li class='item-left item-left-7'>VPP - DCHS Theo Thương Hiệu</li>
              <li class='item-left item-left-8'>Đồ Chơi Theo Thương Hiệu</li>
              <li class='item-left item-left-9'>Bách Hóa Online - Lưu Niệm</li>
            </ul>
          </div>
          <div class='line-nav-menu'></div>
          <div class='navbar__menu-list-right'>
            <h2 class='title-right'>
              <i
                style="
                        background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/category/ico_sachtrongnuoc.svg');
                      "
              ></i>
              Sách Trong Nước
            </h2>
            <div class='row row-cols-lg-4'>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>VĂN HỌC</h3>
                  <li class='item-right'>Tiểu Thuyết</li>
                  <li class='item-right'>Truyện Ngắn - Tản Văn</li>
                  <li class='item-right'>Light Novel</li>
                  <li class='item-right'>Ngôn Tình</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>KINH TẾ</h3>
                  <li class='item-right'>
                    Nhân Vật - Bài Học Kinh Doanh
                  </li>
                  <li class='item-right'>Quản Trị - Lãnh Đạo</li>
                  <li class='item-right'>Marketing - Bán Hàng</li>
                  <li class='item-right'>Phân Tích Kinh Tế</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>TÂM LÝ - KĨ NĂNG SỐNG</h3>
                  <li class='item-right'>Kỹ Năng Sống</li>
                  <li class='item-right'>Rèn Luyện Nhân Cách</li>
                  <li class='item-right'>Tâm Lý</li>
                  <li class='item-right'>Sách Cho Tuổi Mới Lớn</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>NUÔI DẠY CON</h3>
                  <li class='item-right'>Cẩm Nang Làm Cha Mẹ</li>
                  <li class='item-right'>Phương Pháp Giáo Dục Trẻ ...</li>
                  <li class='item-right'>Phát Triển Trí Tuệ Cho Trẻ</li>
                  <li class='item-right'>Phát Triển Kỹ Năng Cho Trẻ</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>SÁCH THIẾU NHI</h3>
                  <li class='item-right'>Manga - Comic</li>
                  <li class='item-right'>Kiến Thức Bách Khoa</li>
                  <li class='item-right'>Sách Tranh Kỹ Năng Sống C...</li>
                  <li class='item-right'>Vừa Học - Vừa Học Vừa Chơ...</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>TIỂU SỬ - HỒI KÝ</h3>
                  <li class='item-right'>Câu Chuyện Cuộc Đời</li>
                  <li class='item-right'>Chính Trị</li>
                  <li class='item-right'>Kinh Tế</li>
                  <li class='item-right'>Nghệ Thuật - Giải Trí</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>GIÁO KHOA - THAM KHẢO</h3>
                  <li class='item-right'>Sách Giáo Khoa</li>
                  <li class='item-right'>Sách Tham Khảo</li>
                  <li class='item-right'>Luyện Thi THPT Quốc Gia</li>
                  <li class='item-right'>Mẫu Giáo</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>SÁCH HỌC NGOẠI NGỮ</h3>
                  <li class='item-right'>Tiếng Anh</li>
                  <li class='item-right'>Tiếng Nhật</li>
                  <li class='item-right'>Tiếng Hoa</li>
                  <li class='item-right'>Tiếng Hàn</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>
                    SÁCH MỚI
                    <span style='color: #ff0000'>&nbsp;♥</span>
                  </h3>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>
                    SÁCH BÁN CHẠY
                    <span style='color: #ff0000'>&nbsp;♥</span>
                  </h3>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='navbar__search'>
        <div class='navbar__search-input-wrap'>
          <input
            class='navbar__search-input'
            type='text'
            placeholder='Tìm kiểm sản phẩm mong muốn...'
          />
          <div class='navbar__search-rcm mh' >
            <a class='search-rcm__top'>
              <span>Luyện Thi THPT Quốc Gia</span>
              <img src='./public/img/Artboard_11.3.jpg' alt='' />
            </a>
            <div class='search-rcm__mid'>
              <div class='search-rcm--title'>
                <div class='search-rcm--title-name'>
                  <img
                    src='https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_searchtrending_black.svg'
                    alt=''
                    class='i-up'
                  />
                  <span>Từ khóa hot</span>
                </div>
                <div class='search-rcm--random'></div>
              </div>
              <ul class='search-rcm__mid-list row row-cols-lg-3 gx-2 gx-3'>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
              </ul>
            </div>
            <div class='line'></div>
            <div class='search-rcm__bot'>
              <div class='search-rcm--title'>
                <div class='search-rcm--title-name'>
                  <img
                    src='https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu.svg'
                    alt=''
                  />
                  <span>Danh mục nổi bật</span>
                </div>
                <div class='search-rcm--random'></div>
              </div>
              <ul class='search-rcm__bot-list row gx-3 row-cols-lg-4 mh-110'>
                {{#if product}}
                  {{#each product}}
                    <li class='search-rcm__bot-item col'>
                      <a href="{{this.Slug}}">
                        <img src='{{this.Image}}' alt='' />
                      <p>{{this.Name}}</p>
                      </a>
                    </li>
                  {{/each}}
                {{else}}
                  {{#each producta}}
                    <li class='search-rcm__bot-item col'>
                      <a href="{{this.Slug}}">
                        <img src='{{this.Image}}' alt='123' />
                      <p>{{this.Name}}</p>
                      </a>
                    </li>
                  {{/each}}
                {{/if}}
              </ul>
            </div>
          </div>
          <div class='navbar__search-bg'></div>
        </div>
        <button>
          <div
            style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_search_white.svg');
                  "
          ></div>
        </button>
      </div>
      {{#if isAdmin}}
      <div class='navbar__list'>
        <a class='navbar__list-item' href="/admin/list">
          <div class='navbar__list-item-no'>
            <div class='navbar__list-item-icon'  style=" display: flex; align-items: center;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
              </svg>
            </div>
            <p>Danh sách</p>
          </div>
        </a>
        <a class='navbar__list-item' href='/admin/add'>
          <div class='navbar__list-item-icon' style=" display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </div>
          <p>Thêm</p>
        </a>
         <a class='navbar__list-item' href='/admin/order'>
          <div class='navbar__list-item-icon' style=" display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg>
          </div>
          <p>Đơn </p>
        </a>
        {{#if isAuthenticated}}
          {{! Nếu condition1 là true }}
          {{#if isAdmin}}
            <div class='navbar__list-item item-acc'>
              <div
                class='navbar__list-item-icon'
                style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg');
                  "
              ></div>
              <p>{{data.username}}</p>

              <div class='login'>

                <a class='user-info' href='/admin'>
                  <div
                    class='user-icon'
                    style='background-image: url(/public/upload/admin.png);'
                  >
                  </div>
                  <div class='user-name'>
                    <h4>{{data.username}}</h4>
                    <span>Admin Fahasa</span>
                  </div>
                  <i class='fa-solid fa-chevron-right'></i>
                </a>

                <a class='user-item' href='/admin/add'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_bill_gray.svg);'
                  >
                  </div>
                  <span>Thêm sản phẩm</span>
                </a>

                <a class='user-item' href='/admin/list'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_voucher_gray.svg);'
                  >
                  </div>
                  <span>Quản lý sản phẩm</span>
                </a>

                <a class='user-item' href='/logout'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_logout_gray.svg);'
                  >
                  </div>
                  <span>Đăng xuất</span>
                </a>

              </div>
            </div>
          {{else}}
            <div class='navbar__list-item item-acc' href='/login'>
              <div
                class='navbar__list-item-icon'
                style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg');
                  "
              ></div>
              <p>{{data.username}}</p>

              <div class='login'>

                <a class='user-info'>
                  <div
                    class='user-icon'
                    style='background-image: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/vip/ico_vip_copper.svg);'
                  >
                  </div>
                  <div class='user-name'>
                    <h4>{{data.username}}</h4>
                    <span>Thành viên Fahasa</span>
                  </div>
                  <i class='fa-solid fa-chevron-right'></i>
                </a>

                <a class='user-item'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_bill_gray.svg);'
                  >
                  </div>
                  <span>Đơn hàng của tôi</span>
                </a>

                <a class='user-item'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_voucher_gray.svg);'
                  >
                  </div>
                  <span>Wallet Voucher</span>
                </a>

                <a class='user-item'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_fpoint_gray.svg);'
                  >
                  </div>
                  <span>Tài khoản F-point</span>
                </a>

                <a class='user-item' href='/logout'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_logout_gray.svg);'
                  >
                  </div>
                  <span>Đăng xuất</span>
                </a>

              </div>
            </div>
          {{/if}}
        {{else}}
          <div class='navbar__list-item item-acc' href='/login'>
            <a
              class='navbar__list-item-icon'
              style="background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg');"
              href='/login'
            ></a>
            <p class='w-75px'>Tài khoản</p>
            <div class='navbar-acc'>
              <div class='btn-list'>
                <a href='/login'>Đăng nhập</a>
                <a href='/register'>Đăng ký</a>
              </div>
            </div>

          </div>
        {{/if}}
        <a class='navbar__list-item'>
          <div class='language'>
            <div
              class='navbar__list-item-icon'
              style="
                      background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg');
                    "
            ></div>
            <span
              style="
                      background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/icon_seemore_gray.svg');
                    "
            ></span>
          </div>
          <div class='language-choice'>
            <div class='language-vn ac-language'>
              <div
                class='language-icon'
                style="
                        background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg');
                      "
              ></div>
              <span>VN</span>
            </div>
            <div class='language-en'>
              <div
                class='language-icon'
                style="
                        background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/store/english.svg');
                      "
              ></div>
              <span>EN</span>
            </div>
          </div>
        </a>
      </div>
      {{else}}
      <div class='navbar__list'>
        <div class='navbar__list-item'>
          <div class='navbar__list-item-no'>
            <div
              class='navbar__list-item-icon'
              style="
                      background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_noti_gray.svg');
                    "
            ></div>
            <p>Thông Báo</p>
            {{#if isAuthenticated}}

            <div class='no-history' style="height: 232px;  align-items: center;   justify-content: center;" >
              <h6>Hiện tại chưa có thông báo nào</h6>
            </div>
            {{else}}
            <div class='no-history'>
              <div class='no-history-top'>
                <img
                  src='https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_noti_black.svg'
                  alt=''
                />
                <span>Thông báo</span>
              </div>
              <div class='no-history-mid'>
                <div class='lock-icon'>
                  <span
                    style="
                            background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/customer/ico_login.svg');
                          "
                  ></span>
                </div>
                <p class='no-text'>Vui lòng đăng nhập để xem thông báo</p>
              </div>
              <div class='btn-list'>
                <a href="/login" class="h-btn">Đăng nhập</a>
                <a href="/register" class="h-btn">Đăng ký</a>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
        <a class='navbar__list-item' href='/cart'>
          <div
            class='navbar__list-item-icon'
            style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_cart_gray.svg');
                  "
          ></div>
          <p>Giỏ Hàng</p>
        </a>
        {{#if isAuthenticated}}
          {{! Nếu condition1 là true }}
          {{#if isAdmin}}
            <div class='navbar__list-item item-acc'>
              <div
                class='navbar__list-item-icon'
                style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg');
                  "
              ></div>
              <p>{{data.username}}</p>

              <div class='login'>

                <a class='user-info' href='/admin'>
                  <div
                    class='user-icon'
                    style='background-image: url(/public/upload/admin.png);'
                  >
                  </div>
                  <div class='user-name'>
                    <h4>{{data.username}}</h4>
                    <span>Admin Fahasa</span>
                  </div>
                  <i class='fa-solid fa-chevron-right'></i>
                </a>

                <a class='user-item' href='/admin/add'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_bill_gray.svg);'
                  >
                  </div>
                  <span>Thêm sản phẩm</span>
                </a>

                <a class='user-item' href='/admin/list'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_voucher_gray.svg);'
                  >
                  </div>
                  <span>Quản lý sản phẩm</span>
                </a>

                <a class='user-item' href='/logout'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_logout_gray.svg);'
                  >
                  </div>
                  <span>Đăng xuất</span>
                </a>

              </div>
            </div>
          {{else}}
            <div class='navbar__list-item item-acc' href='/login'>
              <div
                class='navbar__list-item-icon'
                style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg');
                  "
              ></div>
              <p>{{data.username}}</p>

              <div class='login'>

                <a class='user-info'>
                  <div
                    class='user-icon'
                    style='background-image: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/vip/ico_vip_copper.svg);'
                  >
                  </div>
                  <div class='user-name'>
                    <h4>{{data.username}}</h4>
                    <span>Thành viên Fahasa</span>
                  </div>
                  <i class='fa-solid fa-chevron-right'></i>
                </a>

                <a class='user-item' href="/order">
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_bill_gray.svg);'
                  >
                  </div>
                  <span>Đơn hàng của tôi</span>
                </a>

                <a class='user-item'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_voucher_gray.svg);'
                  >
                  </div>
                  <span>Wallet Voucher</span>
                </a>

                <a class='user-item'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_fpoint_gray.svg);'
                  >
                  </div>
                  <span>Tài khoản F-point</span>
                </a>

                <a class='user-item' href='/logout'>
                  <div
                    class='user-item-icon'
                    style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_logout_gray.svg);'
                  >
                  </div>
                  <span>Đăng xuất</span>
                </a>

              </div>
            </div>
          {{/if}}
        {{else}}
          <div class='navbar__list-item item-acc' href='/login'>
            <a
              class='navbar__list-item-icon'
              style="background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg');"
              href='/login'
            ></a>
            <p class='w-75px'>Tài khoản</p>
            <div class='navbar-acc'>
              <div class='btn-list'>
                <a href='/login'>Đăng nhập</a>
                <a href='/register'>Đăng ký</a>
                {{! <a class='log-fb'>
                  <img
                    src='https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo/facebook_logo.svg'
                    alt=''
                  />
                  Đăng nhập bằng facebook
                </a> }}
              </div>
            </div>

          </div>
        {{/if}}
        <a class='navbar__list-item'>
          <div class='language'>
            <div
              class='navbar__list-item-icon'
              style="
                      background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg');
                    "
            ></div>
            <span
              style="
                      background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/icon_seemore_gray.svg');
                    "
            ></span>
          </div>
          <div class='language-choice'>
            <div class='language-vn ac-language'>
              <div
                class='language-icon'
                style="
                        background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg');
                      "
              ></div>
              <span>VN</span>
            </div>
            <div class='language-en'>
              <div
                class='language-icon'
                style="
                        background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/store/english.svg');
                      "
              ></div>
              <span>EN</span>
            </div>
          </div>
        </a>
      </div>
      {{/if}}
    </div>
  </nav>
</header>

<style>
  .mh{
    max-height: 429px;
    overflow: hidden;
  }
  .mh-110{
    max-height: 110px;
    overflow: hidden;
  }
</style>